			<div class="span9">
				<h2>Register</h2>
				<hr />

				<form method="post" action="{blog-url}/">
					<input type="text" name="username" placeholder="Username"> </input>
					<span class="help-block">Must be unique.</span>

					<input type="password" name="password" placeholder="Password"> </input>
					<br />
					<input type="password" name="passwordrepeat" placeholder="Repeat Password"> </input>
					<span class="help-block">Use a secure password!</span>

					<input type="submit" class="btn btn-success"> </input>
				</form>
			</div>
