/* Just general styling. */
h1, h2, h3, h4, h5, h6 {
	font-family: "Ubuntu", "Cambria", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	font-family: "Fenix", "Cambria", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(../img/adminbackground.png);
}

.body-hold {
	float: left;
	width: 80%;
}

.container-sidebar {
	float: left;
	width: 16%;

	padding-top: 20px;
}

.container-fluid h3 {
	text-align: center;
	font-weight: normal;

	margin-top: -5px;
	padding-top: 0px;

	border-bottom: 1px solid #aaa;
}

.modal h3 {
	text-align: center;
	font-weight: normal;
}

.container-fluid {
	padding: 20px 20px;

	-webkit-transition: all .75s linear;
	   -moz-transition: all .75s linear;
			transition: all .75s linear;
}

.block {
	border: 1px solid #777;
	border-radius: 0px;
}

.body-dark {
	background: #000;
	opacity: 0.3;

	-webkit-transition: all .75s linear;
	   -moz-transition: all .75s linear;
			transition: all .75s linear;
}

.modal {
	top: 5%;
}

.padded-item {
	padding: 10px;
	margin: 5px;
}

/* Sidebar */
.sidebar {
	margin: 0px;

	background-color: #5c5c5c;
	box-shadow: 0px 0px 3px #333;
}

.sidebar > li {
	width: 100%;
	display: block;
	list-style-type: none;
}

.sidebar > li > a {
	border-right: 0px solid #ccc;

	display: block;
	padding: 10px 10px;

	color: #c8c8c8;
	text-shadow: 1px 1px #333;
	text-decoration: none;

	font-size: 16px;

			transition: all .3s linear;
	   -moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
}

.sidebar > li > a.active {
	border-right: 3px solid #cdcdcd;

	color: #cacaca;
}

.sidebar > li > a:hover,
.sidebar > li > a.active {
	box-shadow: 0px 0px 4px #222 inset;
	border-right: 3px solid #ccc;

			transition: all .3s linear;
	   -moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
}

.sidebar > li > a > span.badge {
	float: right;
}

/* Edit Post Modal */
#post-editor textarea {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

	box-shadow: 0px 0px 3px #ddd;
}

.edit-tools {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	border: 1px solid #aaa;
	background-color: #ddd;
	box-shadow: 0px 0px 3px #ddd;

	padding: 8px 2px;
}

.edit-tools a {
	padding: 8px;
	border-radius: 3px;

	border: 1px solid #aaa;
	background-color: #ececec;

	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
			transition: all .2s linear;
}

.edit-tools a:hover {
	box-shadow: 0px 0px 2px #888 inset;

	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
			transition: all .2s linear;
}

.edit-tools .separator {
	display: inline-block;
	margin-right: 5px;
}

/* Some nice inputs stuff */
.form-fill input,
.form-fill textarea {
	width: 100%;
}

.no-margin {
	margin: 0px 0px !important;
	margin-bottom: 0px;
}

.btn-fill {
	border-radius: 1px;

	margin-bottom: 1px;
}

.loader {
	position: absolute;

	margin-left: 40px;
	margin-top: 12px;
	display: none;
}

.loader.show {
	display: inline-block;
}

/* Table Styles */
.table th {
	background-color: #fff;
	text-align: center;

	cursor: hand;
}

.table td {
	background-color: #fff;
}

/* List Styles */
.table-list {
	list-style-type: none;
	border: 1px solid #ddd;

	margin-left: 0px;
}

.table-list li {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	padding: 2px;
}

.table-list li:hover {
	background-color: rgb(255, 255, 225);
}

.table-list .table-inner-block {
	background-color: rgb(255, 235, 235);

	float: right;
	display: inline-block;

	padding: 5px 10px;
	min-height: 34px;
}

.table-list p {
	color: #333;
	display: inline-block;
}
.table-list p > small {
	color: #888;
}

/* Message Styles */
.alert.popup {
	position: fixed;
	margin-right: 20%;
	margin-left: 20%;

	width: 60%;
	top: 20%;

	opacity: 1;

	z-index: 1000;
}

.alert.msg {
	display: none;
	margin-bottom: 5px;
}

/* Button Styles */
.btn-admin {
	background: #FFF;

			box-shadow: none;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;

	border: 2px solid #30c0fb;
	border-radius: 4px;

	color: #333;
	text-shadow: none;

	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
			transition: all .2s linear;
}

.btn-admin:hover {
	color: #FFF;

	background: #30c0fb;

	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
			transition: all .2s linear;
}

.btn-admin.btn-success {
	border: 2px solid #74c474;
}

.btn-admin.btn-success:hover {
	background-color: #74c474;
}

.btn-admin.btn-danger {
	border: 2px solid #e06359;
}

.btn-admin.btn-danger:hover {
	background-color: #e06359;
}

/* Posts Breakdown */
.posts-breakdown {
	padding: 20px;

	border-radius: 100%;
	border: 1px solid #ccc;

	width: 100px;
	height: 100px;

	background-color: #555;
	box-shadow: 0px 0px 4px #aaa;

	margin: 0px auto;
}

.posts-breakdown p {
	font-size: 16px;

	text-align: center;
	color: #eee;
}

.posts-breakdown strong {
	font-size: 22px;
}

.posts-breakdown strong.done {
	color: #38E156;
}

.posts-breakdown strong.draft {
	color: #FFE940;
}

.posts-breakdown strong.trash {
	color: #A2222F;
}