/* Just general styling. */
h3 {
	text-align: center;
	font-weight: normal;

	margin-top: -5px;
	padding-top: 0px;
}

/* Some nice inputs stuff */
.form-fill input,
.form-fill textarea {
	width: 100%;
}

.btn-fill {
	border-radius: 1px;

	margin-bottom: 1px;
}

.loader {
	position: absolute;

	margin-left: 40px;
	margin-top: 12px;
	display: none;
}

.loader.show {
	display: inline-block;
}

/* Table Styles */
.table th {
	background-color: #fff;
	text-align: center;

	cursor: hand;
}

/* Message Styles */
.alert.popup {
	position: fixed;
	margin-right: 20%;
	margin-left: 20%;

	width: 60%;
	top: 20%;

	opacity: 1;

	z-index: 1000;
}

.alert.msg {
	display: none;
	margin-bottom: 5px;
}