/* Just general styling. */
h3 {
	text-align: center;
	font-weight: normal;

	margin-top: -5px;
	padding-top: 0px;
}

/* Some nice inputs stuff */
.form-fill input,
.form-fill textarea {
	width: 100%;
}

/* Table Styles */
.table th {
	background-color: #fff;
	text-align: center;

	cursor: hand;
}