/* Basic styling */
@font-face {
	font-family: "Ubuntu";
	src: url('../font/UbuntuMono-R.ttf');
}

body {
	font-family: "Cambria", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #f4f4f4;
}

.container {
	background-color: #fff;
	padding: 40px;
}

.main-content {
	margin-top: 105px;
	bottom: -5px;

	box-shadow: 0px 0px 8px #fff;
}

.block,
.blogza-navbar {
	font-family: Helvetica, Arial, sans-serif;
}

.blogza-header {
	font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center {
	margin-left: auto;
	margin-right: auto;

	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

a:hover {
	text-decoration: none;
	color: #BF3030;
}

input[type="text"],
input[type="password"] {
	height: 30px;
}

.form-fill input[type="text"],
.form-fill input[type="password"],
.form-fill textarea {
	width: 100%;
}

.block {
	border-radius: 5px;
	border: 1px solid #e3e3e3;

	background-color: #f9f9f9;

	padding: 20px;
	margin-bottom: 20px;

			box-sizing: border-box;
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* Header Styling */
.blogza-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;

	background-image: url('../img/background.png');
}

.blogza-header .container {
	background-color: transparent;
	padding: 0px;
}

.blogza-header h1 {
	margin: 20px 0;
	color: #000;
}

.blogza-header .navbar {
	margin-bottom: 0px;
	box-shadow: 0px 0px 6px #f5f5f5;
}

.blogza-navbar {
	background-image: none !important;

			border-radius: 0px;
	   -moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.blogza-navbar > .container > .nav > li > a:hover,
.blogza-navbar > .container > .nav > li.open > a {
	box-shadow: 0px 0px 4px #999 inset;

	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	     -o-transition: all .2s ease;
			transition: all .2s ease;
}

.blogza-navbar > .container > .nav > li > a {
	-webkit-transition: all .6s ease;
	   -moz-transition: all .6s ease;
	     -o-transition: all .6s ease;
			transition: all .6s ease;

	outline: none;
}

.container-regular {
	width: 940px !important;
}

/* Post Styling */
.post h2,
.post h1,
.post h2 a,
.post h1 a {
	font-weight: normal;
	color: rgb(51, 51, 51);
}

.post h2 a:hover,
.post h1 a:hover {
	text-decoration: underline;
}

.post h2 small,
.post h1 small {
	float: right;
	color: #515151;

	line-height: 3;
}

.post hr {
	margin: 5px 0;
	width: 100%;
}

.post p {
	text-indent: 20px;
	font-size: 16px;
}

/* Members */
.member {
	padding: 15px;
	margin-bottom: 10px;
	list-style-type: none;

	box-shadow: 2px 2px 3px #999;
	border: 1px solid #bbb;
	border-left: 5px solid #aaa;
}

.avatar {
	border-radius: 3px;
	border: 1px solid #aaa;

	padding: 3px;
	margin: 10px;

			box-sizing: border-box;
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.avatar-small {
	border-radius: 3px;
	border: 1px solid #aaa;

	padding: 2px;
	margin: 2px;

			box-sizing: border-box;
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.member .avatar,
.member-main-box .avatar {
	float: left;
}

.member .rank {
	float: left;
	display: inline-block;
	margin-top: 20px;
	margin-right: 5px;
}

.member .name {
	color: #333;
	display: inline-block;
}

.member .info {
	margin-top: 5px;
}

.member .name:hover,
.member > a:hover > .name {
	text-decoration: underline;
}

.member-main-box {
	border-bottom: 1px solid #333;
	min-height: 160px;

			box-sizing: border-box;
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.member-main .name {
	display: inline-block;
}

/* Post Comments */
.comment {
	padding: 5px;

	border-bottom: 1px dotted #aaa;
}

.comment .author {
	color: #111;
	font-weight: bold;
}

.post .comment-link {
	float: right;
	padding: 5px;
	margin: 5px;

	border-radius: 4px;
	border: 1px solid #bbb;

	background-color: #fafafa;
}

/* Admin Box Styling */
.admin-box {
	width: 100%;
	height: 40px;
	top: 0;
	z-index: 1000;

	position: fixed;

	background-color: #333;
	box-shadow: 0px 0px 3px #444;

	margin-bottom: 10px;
}

.admin-box a {
	color: #eee;
	float: right;

	padding: 10px;
}

.admin-box a:hover {
	color: #aaa;
}

/* Sidebar styling */
.sidebar-block h5 {
	background-color: #fff;
	padding: 5px;

	border: 1px solid #e3e3e3;
	border-radius: 5px;
}

.nav-pills.nav-stacked.nav > li > a {
	border: 1px solid transparent;

	-webkit-transition: all .6s ease;
	   -moz-transition: all .6s ease;
	     -o-transition: all .6s ease;
			transition: all .6s ease;
}

.nav-pills.nav-stacked.nav > li > a:hover {
	border: 1px solid #e3e3e3;
	margin-left: 5px;
	margin-right: -5px;

	-webkit-transition: all .4s ease;
	   -moz-transition: all .4s ease;
	     -o-transition: all .4s ease;
			transition: all .4s ease;
}